nav {
    background: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
 margin-bottom: 20px;
} body {
    background: #2a2a2a;
    color: greenyellow;
  }
  
  nav {
    background: #333;
  }
  
  a {
    color: greenyellow;
  }

 /* portfolio styles */
 .content h1 {
    color: greenyellow;
}

#portfolio {
    list-style-type: lower-roman; 
    padding-left: 0;
}

#portfolio li {
    background: #333;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: gray;
}

#portfolio a {
    text-decoration: greenyellow;
    color:greenyellow;
}
  .content {
    background: #333;
  }